.breakfastButton{
    margin: 300px;
}
.clientName{
    margin: 50px;
}

/*.inputs {
    margin: 10px 10px 10px 53px;
}*/

.clientName{
    margin: 82px -97px 0px 43px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    border: 3px solid #FE7800;
    background-color: #F6F1F1;
    width: 263px;
    height: 38px;
    padding: 15px;
    outline: none;

}

.waiterName{
    margin: 82px 0px 0px 108px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    border: 3px solid #FE7800;
    background-color: #F6F1F1;
    padding: 15px;
    height: 38px;
    width: 206px;
    outline: none;

}

.tableNumber{
    margin: 0px 0px 0px 598px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    border: 3px solid #FE7800;
    background-color: #F6F1F1;
    padding: 15px;
    height: 38px;
    width: 87px;
    outline: none;

}

.hrOrders{
    width: 1375px;
    justify-content: center;
    margin: 9px -106px 10px;


}

.btnBreakfast{
    width: 165.53px;
    height: 68.44px;
    margin: 49px 21px 10px 127px;
    box-shadow: 0 29px 39px -5px rgb(91 91 95 / 47%);
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 29px;
    border-style: unset;
    transition-duration: 0.7s;
    cursor: pointer;
    border: 2px solid #D22704;
    background-color: white; 
    color: black;
}

.btnBreakfast:hover {
    background-color:#D22704;
    color: white;
     
  }

.btnLunch{
    width: 165.53px;
    height: 68.44px;
    margin: 64px 57px 38px 41px;
    box-shadow: 0 29px 39px -5px rgb(91 91 95 / 47%);
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 29px;
    border-style: unset;
    transition-duration: 0.7s;
    cursor: pointer;
    border: 2px solid #D22704;
    background-color: white; 
    color: black; 
}

.btnLunch:hover {
    background-color:#D22704;
    color: white;
  }



    .menus {
        display: grid;
        grid-template-columns: 1.5fr 1fr;

    }

    .container menus{

    }

    .breakfast-menu {
        display: flex;
        flex-wrap: wrap;


    }

  .unicard {
    box-shadow: 0 10px 14px -7px #5b5b5f;
    width: 262.99px;
    height: 320.2px;
    margin: 10px 7px 30px 10px;
    border-radius: 20px;



  }

  .add-button{
    width: 132.82px;
    height: 37.39px;
    background-color: rgba(254, 120, 0, 1);
    color: white;
    font-family: 'Poppins', sans-serif;
    width: 99.82px;
    border-style: unset;
    border-radius: 20px;
    margin: -10px 0px 0px 77px;


  }

  .product-name{
    font-family: 'Berkshire Swash', cursive;
    font-size: 27px;
    margin: 15px 36px;

  }

  .additional-button-egg{
    width: 100px;
    height: 30px;
    background-color: white;
    color: black; 
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    border-radius: 20px;
    transition-duration: 0.7s;
    cursor: pointer;
    border: 2px solid rgba(254, 120, 0, 1) ;
    margin: 15px 2px 4px 24px;


  }
   
  .additional-button-egg:hover {
    background-color:rgba(254, 120, 0, 0.46);
    color: black;
  }

.additional-button-cheese{
    width: 100px;
    height: 30px;
    background-color: white;
    color: black; 
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    border-radius: 20px;
    transition-duration: 0.7s;
    cursor: pointer;
    border: 2px solid rgba(254, 120, 0, 1);
    margin: -34px 8px 19px 141px;

}

.additional-button-cheese:hover {
    background-color:rgba(254, 120, 0, 0.46);
    color: black;
  }

  .product-price{
    width: 100px;
    height: 30px;
    background-color:  white;
    color: black; 
    border-style: unset;
    box-shadow: 0 10px 14px -7px #5b5b5f;
    font-family: 'Poppins', sans-serif;
    border-radius: 20px;
    margin: 2px 17px 15px 78px;


  }

  .product-image{
    width: 150px;
    height: 100px;
    border-radius: 20px;
  }

 .inputsContainer{
  background-color:rgba(203, 203, 203, 0.42);
 }
