.clientName{
    margin: 50px;
}

/*.inputs {
    margin: 10px 10px 10px 53px;
}*/

.clientName{
    margin: 82px 13px 14px 63px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    border: 3px solid #FE7800;
    background-color: #F6F1F1;
    width: 263px;
    height: 38px;
    padding: 15px;
    outline: none;

}

.waiterName{
    margin: 85px 16px 12px 209px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    border: 3px solid #FE7800;
    background-color: #F6F1F1;
    padding: 15px;
    height: 38px;
    width: 222px;
    outline: none;

}

.tableNumber{
    margin: 85px 13px 14px 366px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    border: 3px solid #FE7800;
    background-color: #F6F1F1;
    padding: 15px;
    height: 38px;
    width: 127px;
    outline: none;

}