.orders-detail{
    background: #FFFFFF;
    border: 1px solid #CBCBCB;
    box-sizing: border-box;
    border-radius: 30px;
    margin-left: 3%;
}

.orders-detail-title{
    font-family: 'Poppins', sans-serif;
    color: #454040;
    font-weight: 700;
    margin: 4% 0 6% 5%;
}

.empty-cart{
    margin-left: 5%;
}

.name-product{
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    color: #817B7B;
    font-size: 129%;
    padding-right: 0 !important;
    padding-left: 0 !important;
    width: 67%;
}

.div-quantity{
    padding-right: 0 !important;
    padding-left: 0 !important; 
    width: 29%;
}

.quantity-number{
    margin: 0 5% 0 2%;
}

.quantity-icon{
    color: #817B7B;
}

.div-total{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    margin: 0 5% 4% 57%;
}

.total {
    font-weight: bold;
    font-size: 141%;
}
.div-btn{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2%;
    color: #454040;
}
.btn-cancel, .btn-send {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 126%;
    font-weight: 800;
    color: #FFFFFF;
    border-radius: 22px;
    width: 158px;
}

.container-btn{
    margin-bottom: 3%;
    display: flex;
    justify-content: center;
}
.btn-cancel{
    background: #D22704;
    margin: 12px 15px 8px 10px;
}
.btn-send {
    background: rgba(42, 200, 86, 0.88);
    margin: 12px 13px 8px 12px;
}