.breakfastButton{
    margin: 300px;
}
.clientName{
    margin: 50px;
}

/*.inputs {
    margin: 10px 10px 10px 53px;
}*/

.clientName{
    margin: 82px 13px 14px 63px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    border: 3px solid #FE7800;
    background-color: #F6F1F1;
    width: 263px;
    height: 38px;
    padding: 15px;
    outline: none;

}

.waiterName{
    margin: 85px 16px 12px 130px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    border: 3px solid #FE7800;
    background-color: #F6F1F1;
    padding: 15px;
    height: 38px;
    width: 222px;
    outline: none;

}

.tableNumber{
    margin: 54px 13px 14px 138px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    border: 3px solid #FE7800;
    background-color: #F6F1F1;
    padding: 15px;
    height: 38px;
    width: 127px;
    outline: none;

}

.hrOrders{
    width: 1375px;
    justify-content: center;
    margin: 9px -106px 10px;


}

.btnDesayuno{
    width: 217.53px;
    height: 89.44px;
    margin: 62px 73px 10px 95px;
    background-color: #D22704;
    box-shadow: 0 10px 14px -7px #5b5b5f;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 29px;
    color: #FFFFFF;
    border-style: unset;

    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid #D22704;
}

.btnDesayuno:hover {
    background-color:#D22704;
    color: white;
  }

.btnAlmuerzo{
    width: 217.53px;
    height: 89.44px;
    margin: 64px 57px 38px 41px;
    background-color: #D22704;
    box-shadow: 0 10px 14px -7px #5b5b5f;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 29px;
    color: #FFFFFF;
    border-style: unset;

    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid #D22704;
}

.btnAlmuerzo:hover {
    background-color:#D22704;
    color: white;
  }
