.container-views-tables{
    width: 100vw;
    height: 100vw;
    display: flex;
    flex-direction: column;
    background-color:  rgba(203, 203, 203, 0.11);
}

.text-tables{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 9vh;
    margin-top: 11%;
}

.to-go {
    margin-left: 4%;
    margin-left: 31%;
    background: #D22704;
    font-weight: 700;
    width: 142px;
}

.container-tables{
    margin-block: auto;
    margin-bottom: 35%;
} 

.tables {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    grid-auto-rows: 200px;
    /* background-color: paleturquoise; */
    margin: 0 3%;
    align-items: center;
}

.number-table {
    padding-left: 14%;
}