.container-views-tables{
    width: 100vw;
    height: 100vw;
    display: flex;
    flex-direction: column;
    background-color:  rgba(203, 203, 203, 0.11);
}

.text-tables{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 9vh;
    margin-top: 11%;
    margin: 124px 10px 114px -214px;
}



.container-tables{
    margin-block: auto;
    margin-bottom: 35%;
    margin: -18px 5px 4px 104px;
} 

.tables {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    grid-auto-rows: 200px;
    /* background-color: paleturquoise; */
    margin: 0 3%;
    align-items: center;
}

.number-table {
    padding-left: 14%;
}

.textH1{
    font-family: 'Berkshire Swash', cursive;
}

.to-go{
    width: 8vw;
    height: 5vh;
    margin: 7px 0px 0px 77px;
    box-shadow: 0 10px 14px -7px #5b5b5f;
    border-style: unset;
    border-radius: 20px;
    background: #D22704;
    color: white;
    font-family: 'Poppins', sans-serif;
}

